.categoryEditer {}
.categoryEditer__delete {
}
.categoryEditer__delete:hover {
    filter: brightness(0.2);
}
.categoryEditer__cat {
    cursor: pointer;
}
.categoryEditer__cat--selected {
    color: #0067b9!important;
    border:#2196f3 1px solid!important;
    background-color:#eaf6ff;
}
.categoryEditer__cat--selected i {
    color: #0067b9!important;
}
.categoryEditer__input{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f2f2f2;
}
.categoryEditer__input input{
    border: 1px solid #9a9a9a !important;
}
.option__box{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.option__title{
    font-weight: 600;
    width: 45px;
    font-size: 1.1em;
    text-align: left;
}